*{
    /* margin: 10px; */
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    /* font-family: "Lato", sans-serif; */
}
a{
    text-decoration: none;
}
.iconAltura{
    width: 40px;
    height: 40px;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(../images/bg2.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-flow: row nowrap; 
            height: 60px;   
            align-items: center;  
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);      
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                   color: white;
                   font-size: 30px; 
                }
                .logo a:hover{
                   color: #343434; 
                }
            .nav{
                /* esto significa que sera 5 veces mayor que sus hermanos 'logo' , 'social' */
                flex: 5 1 auto;
            }
                .nav a{
                    color: white;
                    font-size: 11px;
                    text-transform: uppercase; 
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #343434;
                }
            .social{    
                flex: 1 1 auto;
            }
                .social a{
                    color: white;
                    text-transform: uppercase; 
                    font-size: 18px;
                    padding: 0 5px;
                }
                .social a:hover{
                    color: #343434;
                }
        .texto-principal{
            background: #f07b3f;
        }
            h1{
                background: #ffd460;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #1f6cb0;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                /* asi usara el 100% el nav */
                flex: 1 1 100%; 
            }
        .aside{
            background: #f73f52;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #ffea85;
            }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #ea5455;
            width: 300px;
        }

/* aqui nuestos media q // para nuestro responsive */
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}